body{
  background-image: linear-gradient(-45deg, #2980b9, #2c3e50);
  min-height: 100vh;
}

.main{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input {
  width: 15rem;
  height: 30px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: #eee;

}

button{
  height: 40px;
  width: 100px;
  background-color: lightgreen;
  color:white;
  border-radius: 10px;
  
  
}

h1{
  color:white;
  /* font-family:  */
}
.single-item{
  display: flex;
  width: 25rem;
  align-items: center;
  margin-top: 10px;
  background-color: orange;
}
.single-item > span{
  flex: 1;
  padding: 10px;
  text-align: center;
  color: white;
}
.single-item > button {
  border: none;
  border-radius: 0px;
  background-color: orangered;
  cursor: pointer;
}
.single-item > button:hover{
  background-color: red;
}
.p{
  background-color: orange;
  padding: 10px;
  width: 25rem;
  margin: 10px;
}